.header {
    display: flex;
    justify-content: space-between;
    background-color: #34235e;
    height: 75px;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    margin-right: 20px;
    font-size: 18px;
}

.header a {
    color: white;
    text-decoration: none;
    justify-content: space-between;
    width: 25%;
}

.header-name{
    display: flex;
    align-items: center;
    font-size: 34px;
    margin-left: 20px;
}