.resume-page {
  text-align: center;

  .resume-iframe {
    margin-top: 3.75vw;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      width: 60vw;
      height: 70vw;
      margin-bottom: 75px;
    }
  }

  .resume-mobile{
    display: none;
  }

  @media (max-width: 600px) {
    .resume-iframe{
      display: none;
    }
    .resume-mobile{
      display: flex;
      img{
        max-width: 80%;
        margin: 0 auto 40px;
      }
    }
  }
}