.projects-page {
  .projects-page-projects {
    display: flex;
    flex-flow: row wrap;
  }
  h1{
    text-align: center;
  }

  .project {
    display: flex;
    flex-direction: column;
    background-color: #34235e;
    width: 360px;
    height: 360px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 0;
    margin: auto auto 50px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .project img{
    max-width: 300px;
    max-height: 250px;
    display: flex;
    margin: auto;
    align-items: center;
  }

  .audio-stories-home-photo {
    padding-top: 20px;
  }

  .wiki-women-home-photo{
    padding-top: 20px;
  }

  .application-site-photo{
    padding-top: 80px;
  }
  .audio-stories-admin-home-photo{
    padding-top: 20px;
  }

  .projects-page-buttons {
    text-decoration: none;
    text-align: center;
    background-color: #34235e;
    z-index: 1;
    color: white;
    border-radius: 20px;
    width: 50%;
    height: 5%;
    margin: auto;
    padding: .4em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .background-color-box {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #9e8fc5;
    margin: auto;
    height: 340px;
    width: 340px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .fix-footer{
    padding-bottom: 100px;
  }
  @media (min-width:700px) and (max-width: 1100px){
    .projects-page-projects{
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 70px;
    }
    .fix-footer{
      padding-bottom: 50px;
    }

  }
  @media (max-width: 700px){
    .projects-page-projects{
      display: flex;
      flex-direction: column;
      margin-bottom: 70px;
    }
    .project{
      width: 280px;
      height: 280px;
    }
    .project img{
      max-width: 80%;
      max-height: 90%;
    }
    .wiki-women-home-photo{
      padding-top: 10px;
    }

    .application-site-photo{
      padding-top: 60px;
    }
    .background-color-box {
      height: 260px;
      width: 260px;
    }
    .projects-page-buttons {
      width: 60%;
      padding-bottom: .5em;
    }
    .fix-footer{
      padding-bottom: 50px;
    }
  }
}
