.projects-page {
  .projects-page-projects {
    display: flex;
  }

  .project {
    display: flex;
    flex-direction: column;
    background-color: #34235e;
    max-width: 360px;
    height: 360px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: auto;
    border-radius: 10px;
    z-index: 0;
    margin-bottom: 50px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .project img {
    width: 250px;
    height: 200px;
    display: flex;
    margin: auto;
    padding-top: 50px;
    border-radius: 10px;
  }

  .projects-page-buttons {
    text-decoration: none;
    background-color: #34235e;
    z-index: 1;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 25px;
    margin: auto;
    align-items: center;
    padding-top: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .background-color-box {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #9e8fc5;
    margin: auto;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
