.about-page{
    img{
        max-height: 500px;
    }
    .about-page-content{
        display: flex;
        justify-content: center;
    }
    .about-page-content p{
        max-width: 300px;
        margin-left: 20px;
        font-size: 24px;
    }
}

