.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 75px;
  align-items: center;

  .header-links {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-right: 10px;
    font-weight: 500;

    a{
      font-size: 20px;
      font-weight: 600;
      box-shadow: none;
      margin: auto;
      padding: 0;
      transition: none;
      &:hover {
        box-shadow: none;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
    width: 25%;
    text-align: center;

  }

  a:hover, a:active {
    color: gray;
  }

  .header-name {
    display: flex;
    height: 50%;
    align-items: center;
    margin-left: 20px;
    a{
      font-size: 34px;
      font-weight: 600;
      box-shadow: none;
      margin: auto;
      padding: 0;
      transition: none;
      &:hover {
        box-shadow: none;
      }
    }
  }
  .hamburger-menu{
    display: none;
  }

  @media (min-width:600px) and (max-width: 850px) {
    .hamburger-menu{
      display: flex;
      width: 50px;
      margin-right: 20px;
    }

    .header-name{
        font-size: 24px;
    }
    .header-links{
     display: none;
    }
  }
  @media (max-width: 600px){
    height: 75px;
    .hamburger-menu{
      display: flex;
      width: 50px;
      margin-right: 10px;
    }
    a {
      width: 75%;
      text-align: center;
      margin-bottom: 3px;
    }
    .header-name{
      font-size: 23px;
    }
    .header-links{
     display: none;
    }
  }
}