.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 75px;
  align-items: center;

  .header-links {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  a {
    color: white;
    text-decoration: none;
    width: 25%;
    text-align: center;

  }

  a:hover, a:active {
    color: gray;
  }

  .header-name {
    display: flex;
    height: 50%;
    align-items: center;
    font-size: 34px;
    margin-left: 20px;
  }

  @media (min-width:550px) and (max-width: 850px) {

    a {
      width: 75%;
      text-align: center;
      margin-bottom: 3px;
    }
    .header-name{
        font-size: 24px;
    }
    .header-links{
      margin-right: 10px;
      font-size: 18px;
      width: 50%;
      //flex-direction: column;
      a{
        margin-right: 6px;
      }
    }
  }
  @media (max-width: 550px){
    height: 100px;
    a {
      width: 75%;
      text-align: center;
      margin-bottom: 3px;
    }
    .header-name{
      font-size: 23px;
    }
    .header-links{
      margin: 5px 0;
      //margin-right: 5em;
      height: auto;
      font-size: 16px;
      flex-direction: column;
      a{
        margin-right: 10px;
      }
    }
  }
}