.footer {
  display: flex;
  alignment: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: #9e8fc5;
  border-bottom: 10px solid #34235e;
  padding-top: 10px;
  bottom:0;
  position: fixed;

  img {
    max-height: 40px;
    width: 40px;
    margin: 10px 40px;
  }
  @media (max-width: 800px){
    width: 100vw;
  }
}



